<div id="home">
  <div class="featured">
    <h3 class="welcome">Welcome to IcyT!cy</h3>
  </div>
  <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="data">
    <div *nguCarouselDef="let item" class="carousel-div">
      <div class="img-div">
        <img [src]="item" alt="Loading..." />
      </div>
    </div>
    <ul class="pointers" NguCarouselPoint>
      <li
        *ngFor="let j of myCarousel.pointNumbers; let i = index"
        [class.active]="j == myCarousel.activePoint"
        (click)="myCarousel.moveTo(i)"
      ></li>
    </ul>
  </ngu-carousel>
</div>
