#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .featured {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .welcome {
      margin: 0;
      color: #cc0066;
    }
  }

  .carousel-div {
    min-width: 100% !important;
    padding: 8px 100px;
    box-sizing: border-box;

    .img-div {
      min-height: 200px;

      img {
        width: 100%;
        height: 400px;
      }
    }
  }

  .pointers {
    list-style-type: none;
    text-align: center;
    padding: 4px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
  }
  .pointers li {
    display: inline-block;
    border-radius: 50%;
    border: 1.5px solid #cc0066;
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
  }
  .pointers li.active {
    background: #cc0066;
    transform: scale(1.2);
  }
}
