.container {
  margin-top: 140px;
  max-width: 1000px; /* Set a maximum width if desired */
  margin-left: 50px;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
