#container {
  .no-item-div {
    display: flex;
    width: 100% !important;

    .no-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 2px;
      font-size: 20px;
      font-weight: 460;
      color: #cc0066;
    }
  }

  .item-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
    gap: 20px;

    .basket-summary-div {
      display: flex;
      width: 65% !important;
    }

    .order-summary-div {
      display: flex;
      width: 35% !important;
      flex-direction: column;
      margin-top: 16px;
      background-color: white;
      box-shadow: 1px 2px 1px rgba(7, 7, 7, 0.1);

      .checkout-div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;

        .checkout-btn {
          color: white;
          font-size: 16px;
          height: 40px;
          width: 160px;
          border-radius: 5px;
          background: #cc0066;
          border: none;
          cursor: pointer;
          transition: background-color 0.1s ease;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
