<div id="container">
  <div
    class="no-item-div"
    *ngIf="(basketService.basketSource$ | async) === null"
  >
    <p class="no-item">There is no item in your cart</p>
  </div>
  <div class="item-div" *ngIf="(basketService.basketSource$ | async) != null">
    <app-basket-summary
      class="basket-summary-div"
      (addItem)="addQuantity($event)"
      (removeItem)="removeQuantityAndItem($event)"
    >
    </app-basket-summary>
    <div class="order-summary-div">
      <app-order-summary> </app-order-summary>
      <div class="checkout-div">
        <a routerLink="/checkout">
          <button class="checkout-btn">Proceed to checkout</button>
        </a>
      </div>
    </div>
  </div>
</div>
