#container {
  .no-item-div {
    display: flex;
    width: 100% !important;

    .no-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 2px;
      font-size: 20px;
      font-weight: 460;
      color: #cc0066;
    }
  }

  .item-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
    gap: 20px;

    .mdc-data-table__table {
      min-width: 65%;
    }

    .mat-elevation-z8 {
      display: table;
      height: 100px !important;
      margin-top: 16px;
      box-shadow: 1px 2px 1px rgba(7, 7, 7, 0.1);

      .product {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100px !important;

        img {
          max-height: 64px;
          margin-right: 16px;
          background-color: rgb(229, 224, 224);
        }

        .product-item-div {
          display: flex;
          align-items: baseline;
          justify-content: center;
          flex-direction: column;

          .item-name {
            text-decoration: none;
            cursor: pointer;
            font-weight: 550;
            font-size: 15px;
            color: #cc0066;
          }

          .item-type {
            font-weight: 550;
            font-size: 12px;
            color: black;
          }
        }
      }

      .price {
        align-items: center;
        justify-content: center;

        .item-price {
          color: #88818a;
        }
      }

      .quantity {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .icon {
          color: #88818a;
          font-size: 20px;
          height: 20px;
          width: 20px;
          cursor: pointer;
          transition: background-color 0.1s ease;
          &:hover {
            color: #cc0066;
            transform: scale(1.03);
          }
        }

        .item-quantity {
          padding: 0px 8px;
          color: #88818a;
        }
      }

      .total {
        align-items: center;
        justify-content: center;

        .item-total {
          color: #88818a;
        }
      }

      .delete {
        align-items: center;
        justify-content: center;

        .fav-icon {
          color: #88818a;
          font-size: 20px;
          height: 20px;
          width: 20px;
          padding-right: 8px;
          cursor: pointer;
          transition: background-color 0.1s ease;
          &:hover {
            color: #cc0066;
            transform: scale(1.09);
          }
        }

        .icon {
          color: #88818a;
          font-size: 20px;
          height: 20px;
          width: 20px;
          cursor: pointer;
          transition: background-color 0.1s ease;
          &:hover {
            color: rgb(205, 14, 14);
            transform: scale(1.09);
          }
        }
      }
    }

    .order-summary-div {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      background-color: white;
      box-shadow: 1px 2px 1px rgba(7, 7, 7, 0.1);

      .checkout-div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
        padding-left: 8px;
        padding-right: 8px;

        .checkout-btn {
          color: white;
          font-size: 16px;
          height: 40px;
          width: 160px;
          border-radius: 5px;
          background: #cc0066;
          border: none;
          cursor: pointer;
          transition: background-color 0.1s ease;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
