<div id="product-container">
  <div class="product-item-div" *ngIf="product">
    <div class="product-picture">
      <img src="{{ product.pictureUrl }}" alt="{{ product.name }}" />
    </div>
    <div class="product-details">
      <h1 class="product-name">{{ product.name }}</h1>
      <p class="product-price">{{ product.price | currency }}</p>
      <h4 class="Quantity">Quantity</h4>
      <div class="quantity-div">
        <div class="span-div">
          <mat-icon class="icon">remove</mat-icon>
          <span class="span"> 3 </span>
          <mat-icon class="icon">add</mat-icon>
        </div>
        <button class="add-to-cart-btn">Add to cart</button>
      </div>
      <h4 class="Description">Description</h4>
      <p class="product-description">{{ product.description }}</p>
    </div>
  </div>
</div>

<!-- <div class="product-item-div" *ngIf="product">
  <div class="product-picture">
    <img src="{{ product.pictureUrl }}" alt="{{ product.name }}" />
  </div>
  <div class="product-details" style="margin-top: 2rem; flex-direction: column">
    <h1>{{ product.name }}</h1>
    <p style="font-size: 16px; margin-top: -10px">
      {{ product.price | currency }}
    </p>
    <div style="display: flex; justify-content: baseline; align-items: center">
      <i style="cursor: pointer; font-size: 16px; margin-right: 4px">
        <mat-icon>remove_circle</mat-icon>
      </i>
      <span style="font-size: 1.4em; font-weight: bold; padding-bottom: 5px">
        3
      </span>
      <i style="cursor: pointer; font-size: 16px; margin-left: 4px"
        ><mat-icon>add_circle</mat-icon>
      </i>
      <button
        style="
          margin-left: 15px;
          padding: 5px 10px;
          border: 2px solid #007bff;
          color: #007bff;
          background-color: #fff;
        "
      >
        Add to cart
      </button>
    </div>
    <div class="row" style="margin-top: 1.2rem; flex-direction: row">
      <h2>Description</h2>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div> -->
