<div>
  <div *ngIf="control.status === 'PENDING'"></div>
  <div *ngIf="control.errors?.['required']">Please enter your {{ label }}</div>
  <div *ngIf="control.errors?.['email']">Invalid email address</div>
  <div *ngIf="control.errors?.['pattern']">Enter a strong password</div>
  <div *ngIf="control.errors?.['emailExists']">This email is already used</div>
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
      type="{{ type }}"
      [formControl]="control"
      matInput
      placeholder="{{ label }}"
    />
  </mat-form-field>
</div>
