<div id="shop-container" *ngIf="brands.length > 0 && types.length > 0">
  <section class="sorting-section">
    <div class="sort">
      <h3 class="header">Sort</h3>
      <mat-form-field>
        <mat-select
          (selectionChange)="onSortSelected()"
          [(value)]="selectedSortOption"
        >
          <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="brand">
      <h3 class="header">Brand</h3>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option
          class="brand-list"
          *ngFor="let value of brands"
          [class.active]="value.id === shopParams.brandId"
          [value]="value.id"
          (click)="onBrandSelected(value.id)"
        >
          {{ value.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="type">
      <h3 class="header">Type</h3>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option
          class="type-list"
          *ngFor="let value of types"
          [class.active]="value.id === shopParams.typeId"
          [value]="value.id"
          (click)="onTypeSelected(value.id)"
        >
          {{ value.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </section>
  <section class="products-section">
    <div class="section-header-div">
      <app-paging-header
        [totalCount]="totalCount"
        [pageNumber]="shopParams.pageNumber"
        [pageSize]="shopParams.pageSize"
      ></app-paging-header>
      <div class="searching-box">
        <input
          type="text"
          placeholder="Search"
          class="input-btn"
          (keyup.enter)="onSearch()"
          #search
        />
        <button mat-stroked-button class="search-btn" (click)="onSearch()">
          Search
        </button>
        <button mat-stroked-button class="reset-btn" (click)="onReset()">
          Reset
        </button>
      </div>
    </div>
    <div class="products-div">
      <div class="single-product-div" *ngFor="let value of currentProducts">
        <app-product-item [product]="value"></app-product-item>
      </div>
    </div>
    <div class="paginator-div" *ngIf="totalCount > 0">
      <app-pager
        [totalCount]="totalCount"
        [pageNumber]="shopParams.pageNumber"
        [pageSize]="shopParams.pageSize"
        (pageChanged)="onPageChanged($event)"
      ></app-pager>
    </div>
  </section>
</div>
