.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 212, 211, 0.2);
  // box-shadow: 1px 2px 1px rgba(7, 7, 7, 0.1);
  color: #cc0066;
  height: 50px;
  width: 500px;
  margin-bottom: 8px;
}
