.paginator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 1px 2px 1px rgba(7, 7, 7, 0.1);
  color: #cc0066;
  height: 50px;
  width: 800px;
  margin-bottom: 8px;
  margin-left: 50px;
}
