<header id="nav-bar-container">
  <p routerLink="/" class="logo">IcyT!cy</p>
  <nav class="navigation">
    <a
      class="nav-item"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a
      class="nav-item"
      routerLink="/shop"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Shop
    </a>
    <a class="nav-item" routerLink="/contact" routerLinkActive="active">
      Contact
    </a>
  </nav>
  <div class="right-panel">
    <a routerLink="/basket" class="cart">
      <mat-icon class="cart-icon"> shopping_cart </mat-icon>
      <div
        *ngIf="basketService.basketSource$ | async as basket"
        class="cart-no"
      >
        {{ getCountOfBasketItems(basket.items) }}
      </div>
    </a>

    <ng-container *ngIf="(accountService.currentUser$ | async) === null">
      <a routerLink="/account/login">
        <button mat-stroked-button>Login</button>
      </a>
      <a routerLink="/account/signup">
        <button mat-stroked-button>Sign up</button>
      </a>
    </ng-container>

    <ng-container *ngIf="accountService.currentUser$ | async as user">
      <div class="display-name">
        <mat-accordion>
          <mat-expansion-panel style="box-shadow: none">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Welcome {{ user.displayName }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <mat-icon>shopping_cart</mat-icon>
              <a routerLink="/basket">View cart</a>
            </p>
            <p>
              <mat-icon>restore_page</mat-icon>
              <a routerLink="/">View orders</a>
            </p>
            <p>
              <mat-icon>exit_to_app</mat-icon>
              <span (click)="accountService.logout()">Logout</span>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </div>
</header>
