<header id="nav-bar-container">
  <p routerLink="/" class="logo">IcyT!cy</p>
  <nav class="navigation">
    <a
      class="nav-item"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
    <a
      class="nav-item"
      routerLink="/shop"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Shop
    </a>
    <a class="nav-item" routerLink="/contact" routerLinkActive="active">
      Contact
    </a>
  </nav>
  <div class="right-panel">
    <a href="#">
      <button mat-stroked-button>Login</button>
    </a>
    <a href="#">
      <button mat-stroked-button>Sign up</button>
    </a>
    <a routerLink="/basket" class="cart">
      <mat-icon class="cart-icon"> shopping_cart </mat-icon>
      <div
        *ngIf="basketService.basketSource$ | async as basket"
        class="cart-no"
      >
        {{ getCountOfBasketItems(basket.items) }}
      </div>
    </a>
  </div>
</header>
