<header>
  <img src="/assets/images/logo.png" alt="logo" class="logo" />
  <nav>
    <a href="#" class="active">Home</a>
    <a href="#">Shop</a>
    <a href="#">Contact</a>
  </nav>
  <div style="margin-left: 2rem; margin-right: 5rem">
    <a
      href="#"
      style="
        position: relative;
        margin-right: 2rem;
        text-decoration: none;
        color: #000;
      "
    >
      <mat-icon
        style="margin-right: 2rem; margin-bottom: -0.3rem; font-size: 1.8rem"
        >shopping_cart</mat-icon
      >
      <div class="cart-no">3</div>
    </a>
    <a href="#" style="margin-right: 0.5rem">
      <button mat-stroked-button color="primary">Login</button>
    </a>
    <a href="#" style="margin-right: 0.5rem">
      <button mat-stroked-button color="primary">Sign up</button>
    </a>
  </div>
</header>
