header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-left: 2rem;
  padding-right: 4rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  max-height: 70px;
}

nav {
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #3f51b5;
}

nav a.active {
  font-weight: bold;
}

.cart-no {
  position: absolute;
  min-height: 22px;
  min-width: 22px;
  border-radius: 50%;
  background: #3f51b5;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  top: -23px;
  right: 18px;
}
